<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect semua request ke Laravel public/index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ api/public/index.php [L]
</IfModule>
